/*
* @Author: Marte
* @Date:   2017-09-03 19:52:41
* @Last Modified by:   Marte
* @Last Modified time: 2017-09-12 20:34:12
*/
body {
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 12px;
}
div,a,h1,body,input {
    margin: 0;padding: 0;list-style: none;
}
div {display: block;}
input {vertical-align: middle;}
#header_container,{
    width: 100%;height: 85px;
    // background: red;
}
#logo {
    width: 960px;height: 85px;
    margin: 0 auto;
}
#home {
    background-image: url("https://secure3.jmstatic.com/static_passport/dist/v1.0.17211/images/logo_new_v1.jpg");
    background-repeat: no-repeat;
    width: 360px;
    height: 85px;
    overflow: hidden;
    float: left;
    font-size: 0;
    line-height: 0
}
#logo .header_logo_box {
    display: inline-block;
    float: right;
    padding-top: 35px;
}
.top_link_code {
    background-image: url("../images/header_corn_new_v2.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 110px;
    height: 31px;
    float: right;
    margin-right: 24px;
    overflow: hidden;
}
.top_link_shipping {
    background-image: url("../images/gild.png");
    background-repeat: no-repeat;
    width: 170px;height: 31px;
    float: right;
    margin-right: 24px;
    overflow: hidden;
}
.top_link_lighting {
    background-image: url("../images/header_corn_new_v2.png");
    background-repeat: no-repeat;
    background-position: 0 -64px;
    width: 110px;height: 31px;
    float: right;
    margin-right: 24px;
    overflow: hidden;
}
/*头部结束  主体开始*/
.loginWrap {
    width: 965px;height: 418px;
    margin: 100px auto;
    margin-top: 50px;
    margin-bottom:  50px;
    position:relative;
}
.loginImage {
    width: 960px;height: 360px;
    background: url('../images/loginPic.jpg') no-repeat;
}
.loginBord {
    width: 300px;min-height: 400px;
    box-shadow: 0 0 4px rgba(0,0,0,.075);
    background: rgba(255,255,255,.85);
    padding: 0 23px;
    position: absolute;
    top: -10px;
    right: 5px;
}
.shadowl {
    background: url('../images/shadow.png') no-repeat center;
    position: absolute;
    height: 100%;
    width: 8px;
    top: 0;
    left: -9px;
}
.shadowr {
    background: url('../images/shadow.png') no-repeat center;
    position: absolute;
    height: 100%;
    width: 8px;
    top: 0;
    right: -9px;
    transform: scaleX(-1);
}
.loginTit {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 60px;
}
.tosignup {
    color: #969696;
    float: right;
    line-height: 60px;
    font-size: 12px;
}
.tosignup a {
    color: #ed145b;
    text-decoration: none;
}
.loginTit h1 {
    font-weight: 400;
    font-size: 20px;
    color: #e31256;
    font-family: "Microsoft YaHei", 微软雅黑, 黑体;
}
.radio-wrap {
    height: 30px;
}
.radio-wrap span {
    padding-right: 30px;
    height: 14px;
}
.radio-wrap input {
    vertical-align: middle;
}
.textbox_ui {
    height: 44px;
    margin-bottom: 26px;
    position: relative;
    display: inline-block;
}
#dynamic_mobile {
    width: 252px;
    background-image: url('../images/sign.png');
    background-repeat: no-repeat;
    background-position: 5px 0;
    box-shadow: none;
    border: 1px solid #CFCFCF;
    background-color: #fff;
    vertical-align: middle;
    padding: 10px 8px;
    padding-left: 38px;
    line-height: 1.5;
    font-size: 14px;
    height: auto;
}
.focus_text {
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 1.5;
    display: none;
    word-break: keep-all;
    white-space: nowrap;
    margin-top: 4px;
    color: #999;
}
#dynamic_password {
    width: 88px;
    display: inline-block;
    box-shadow: none;
    border: 1px solid #CFCFCF;
    background-color: #fff;
    vertical-align: middle;
    padding: 10px 8px;
    line-height: 1.5;
    font-size: 14px;
    height: auto;
    background-image: url('../images/sign.png');
    background-repeat: no-repeat;
    background-position: 5px -50px;
    padding-left: 38px;
}
.dynamic_pass_wrap {
    margin: 30px 0;
    margin-top: 0;
    clear: both;
    color: #333;
    height: 44px;
}
#login_password {
    width: 252px;
    background-position: 5px -50px;
    box-shadow: none;
    border: 1px solid #CFCFCF;
    background-color: #fff;
    vertical-align: middle;
    padding: 10px 8px;
    padding-left: 38px;
    line-height: 1.5;
    font-size: 14px;
    height: auto;
    background-image: url("../images/sign.png");
    background-repeat: no-repeat;
}
.aliyunWrap {
    height: 36px;
    margin-bottom: 26px;
    position: relative;
}
.nc_scale {
    width: auto;
    height: 34px;
    background: #e8e8e8;
    position: relative;
    margin: 0;
    padding: 0;
}
.scale_text {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    z-index: 1;
    background: transparent;
    color: #9c9c9c;
    line-height: 34px;
    font-size: 12px;
    cursor: pointer;
}
.nc-lang-cnt {
    float: none;
    width: auto;
    height: auto;
    border: none;
    position: static;
    cursor: inherit;
    background: none;
    z-index: 0;
    display: inline;
    text-align: center;
}
#nc_1_n1z {
    text-align: center;
    width: 40px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    cursor: move;
    background: #fff;
    z-index: 2;
}
#getPhoneCode {
    background: linear-gradient(to bottom,#fcfcfc,#f2f2f2);
    border: 1px solid #d9d9d9;
    text-decoration: none;
    cursor: pointer;
    padding: 0 8px;
    display: inline-block;
    line-height: 41px;
    height: 41px;
    font-weight: 700;
    color: #666;
    margin-left: 10px;
    text-align: center;
    width: 130px;
}
.loginbtn {
    width: 100%;
    display: block;
    background: #F8296D;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    padding:0 30px;
    height: 40px;
    color: #fff;
    border: 0;
    margin-bottom: 10px;
}
.iconAccout p {
    overflow: hidden;
    zoom: 1;
    margin-bottom: 15px;
}
.iconAccout a {
    text-indent: -9999px;
    background-image: url("../images/icon_light.jpg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 43px;
    height: 43px;
    float: left;
    text-decoration: none;
    margin-right: 10px;
}
.fr {
    float: right;
    display: inline;
    text-decoration: none;
}
.iconAccout .a1 {
    background-position: 0 0;
}
.iconAccout .a2 {
    background-position: -57px 0;
}
.iconAccout .a3 {
    background-position: -114px 0;
}
.iconAccout .a4 {
    background-position: -169px 0;
}
.iconAccout .a5 {
    background-position: -224px 0;
}
.iconAccout .a6 {
    background-position: 0 -54px;
}
.iconAccout .a7 {
    background-position: -57px -54px;
}
.iconAccout .a8 {
    background-position: -114px -54px;
}
.iconAccout .a9 {
    background-position: -169px -54px;
}
.iconAccout span {
    line-height: 30px;
    position: relative;
    left: -7px;
    cursor: pointer;
    float: left;
    margin-top: 5px;
}
.iconAccout span .slider {
    background-position: -274px 0;
}
.iconAccout span i {
    width: 18px;height: 17px;
    display: inline-block;
    position: absolute;
    right: -21px;
    top: 7px;
    background-image: url("../images/icon.jpg");
    background-repeat: no-repeat;
    background-position: -274px -23px;
    transition: .3s ease-in;
}
.icon-p {
    overflow: hidden;
    zoom: 1;
    margin-bottom: 15px;
}
/*error 提示*/
#invalid {
    display: none;
    width: 290px;
    height: 1.5em;
    margin-top: 4px;
    color: #999;
    position: absolute;
    top: 100%;
    left: 20px;
}
.invalid i {
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -10px;
    height: 20px;
    width: 20px;
    background-image: url("../images/sign.png");
    background-position: 0 -100px;
    background-repeat: no-repeat;
}
/*主体结束 底部开始*/
#footer_container {
    overflow: hidden;
    position: relative;
    bottom: -1px;
}
#footer_copyright {
    background: #fff;
    color: #000;
    text-align: center;
    lineheight: 20px;
    padding-bottom: 80px;
    width: 1090px;
    margin: 0 auto;
    overflow: hidden;
}

.footer_copy_con {
    padding: 14px 0 18px;
    line-height: 23px;
    display: block;
    text-align: center;
}
#footer_copyright a {
    color: #000;
    text-decoration: none;
    cursor: auto;
}
.footer_copy_logo {
    width: 126px;height: 50px;
    overflow: hidden;
    display: inline-block;
    margin: 0 4px;
    margin-right: 8px;
    background: url("../images/footer_btm_icon (1).png") no-repeat;
    border-bottom: 1px solid #d7d7d7;
}
#footer_copyright .logo02 {
    background-position: -126px 0;
}
#footer_copyright .logo03 {
    background-position: -252px 0;
}
#footer_copyright .logo04 {
    background-position: -378px 0;
}
#footer_copyright .logo05 {
    background-position: -504px 0;
}