/*
* @Author: Marte
* @Date:   2017-09-07 10:43:47
* @Last Modified by:   Marte
* @Last Modified time: 2017-09-07 16:17:08
*/
body {
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 12px;
}
div,a,h1,body,input {
    margin: 0;padding: 0;list-style: none;
    text-decoration: none;
}
div {display: block;}
input {vertical-align: middle;}
#header_container,{
    width: 100%;height: 85px;
    // background: red;
}
#logo {
    width: 960px;height: 85px;
    margin: 0 auto;
}
#home {
    background-image: url("https://secure3.jmstatic.com/static_passport/dist/v1.0.17211/images/logo_new_v1.jpg");
    background-repeat: no-repeat;
    width: 360px;
    height: 85px;
    overflow: hidden;
    float: left;
    font-size: 0;
    line-height: 0
}
#logo .header_logo_box {
    display: inline-block;
    float: right;
    padding-top: 35px;
}
.top_link_code {
    background-image: url("../images/header_corn_new_v2.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 110px;
    height: 31px;
    float: right;
    margin-right: 24px;
    overflow: hidden;
}
.top_link_shipping {
    background-image: url("../images/gild.png");
    background-repeat: no-repeat;
    width: 170px;height: 31px;
    float: right;
    margin-right: 24px;
    overflow: hidden;
}
.top_link_lighting {
    background-image: url("../images/header_corn_new_v2.png");
    background-repeat: no-repeat;
    background-position: 0 -64px;
    width: 110px;height: 31px;
    float: right;
    margin-right: 24px;
    overflow: hidden;
}
/*主体*/
.loginWrap {
    width: 965px;
    height: 460px;
    margin: 100px auto;
    line-height: 1.5;
    /*background: red;*/
}
.loginPic {
    width: 960px;
    height: 370px;
    background: url("../images/signPic.jpg") no-repeat;
    position: relative;
}
.singup_link {
    width: 420px;height: 370px;
    display: block;
    position: absolute;
    top: 0;left: 0;
}
.loginBord {
    width: 310px;
    min-height: 400px;
    padding: 0 23px;
    color: #333;
    box-shadow: 0 0 4px rgba(0,0,0,.075);
    position: absolute;
    top: -60px;right: 0;
    /*background: green;*/
}
.shadow_l {
    width: 8px;height: 100%;
    background: url("../images/shadow.png") no-repeat center;
    position: absolute;
    top: 0;
    left: -9px;
}
.shadow_r {
    width: 8px;height: 100%;
    background: url("../images/shadow.png") no-repeat center;
    position: absolute;
    top: 0;
    right: -9px;
    transform: scaleX(-1);
}
.loginTit {
    margin-bottom: 15px;
    line-height: 60px;
}
.tosignup {
    color: #969696;
    float: right;
}
.tosignup a {
    color: #ed145b;
}
.loginTit h1 {
    font-weight: 400;
    font-size: 20px;
    color: #e31256;
}
.line,.act {
    height: 44px;
    margin-bottom: 28px;
    clear: both;
}
.textbox_ui {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    position: relative;
}
.textbox_ui input {
    box-shadow: none;
    border: 1px solid #CFCFCF;
    background-color: #fff;
    padding: 10px 8px;
    font-size: 14px;
    height: auto;
    width: 284px;
    line-height: 1.5;
}
.focus_text {
    margin-top: 4px;
    color: #999;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
#mobile_verify {
    width: 138px;
}
.sms_verify_wrapper {
    margin-right: 12px;
}
.phonecode {
    background: linear-gradient(to bottom,#fcfcfc,#f2f2f2);
    border: 1px solid #d9d9d9;
    cursor: pointer;
    padding: 0 8px;
    display: inline-block;
    line-height: 41px;
    height: 41px;
    font-weight: 700;
    color: #666;
    text-align: center;
    margin-right: 0!important;
    width: 112px;
}
.act p {
    margin: 10px 0;
}
.act input {
    display: inline-block;
    background: #F8296D;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    padding: 0 30px;
    height: 40px;
    color: #fff;
    border: 0;
    width: 100%;
}